<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" href="/data/img/maskable_icon_x152.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Push Server" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <meta name="description" content="Push Server" />
    <meta name="theme-color" content="#fff" />
    <link rel="manifest" href="../data/json/manifest.json" />
    <script src="../js/main.js" onload=""></script>
    <title>Push Server</title>
</head>

<body>
    <button style="display: none;">클릭</button>
    <div class="content">
        <ul></ul>
        <div class="btn">
            <span>더보기+</span>
        </div>
    </div>
</body>

</html>